body{
    font-family: 'Roboto', sans-serif;  
    color: #333;
    font-size: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.totem-body{
    margin-top: 5%;
    width: 48%;
    background-color: white;
    height: 500px;
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 25px;
    text-align: center;
}

.img-principal-brand{
    width: 200px;
    padding: 4%;
}

.card-container{
    align-self: end;
    width: 100%;
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.brand-container{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: flex-end;
}

.brand-container p{
    margin-right: 2%;
}

.card-brand{
    width: 200px;
}


button{
    border: none;
    background-color: #3B3A3A;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(95, 93, 93);
}




/* página de aguarde */
.img-loading{
    margin-bottom: 5%;
}

.loading{
    justify-content: center;
}


/* pagamentos */
.payment-container{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    cursor: pointer;
}

.payment-container .item{
    width: 30%;
    background-color: #C4C4C4;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.status-credit{
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    height: 90px;
    flex-direction: column;
    margin-top: 4%;
    cursor: pointer;
}

.type{
    width: 100%;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #383838;
}

.value{
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-top: 2%;
}




/* cotas */
.cotas-container{
    display: flex;
    width: 100%;
    height: 80%;
}

.cotas-container .information{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cotas-container .information .value{
    font-size: 40px;
    margin-bottom: 5%;
}

.cotas-container .calculadora{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}



.calculadora .calc-container{
    border: 1px solid black;
    padding: 5%;
    width: 200px;
    box-sizing: border-box;
}

.calc-row{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.only{
    justify-content: center;
}

.calc-row div{
    border: 1px solid black;
    padding: 5% 11%;
    cursor: pointer;
}

.display{
    border: 1px solid black;
    padding: 5% 11%;
    width: 100%;
    box-sizing: border-box;
    text-align: end;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cancel{
    background-color: #EC6161;
}

.confirm{
    background-color: #00944D;
}

.btn-align{
    align-self: flex-start;
}